.main-view-container {
    text-align: center;
}

.main-view-description {
    font-size: 24px;
    padding: 1% 10% 2% 50%;
}

.order-opts {
    padding-right: 10%;
}

.order-select {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}

.large-image {
    width: 35%;
    float: left;
    padding-left: 13%;
}

.main-view-title {
    font-size: 30px;
}

.hide {
    display: none;
}

/* any ideas to match this to the arrow in categories? displaying to the left of the title */
.back-arrow2 {
    margin-left: -45%;
    margin-top: -1%;
    float: left;
    position: absolute;
    width: 5%;
    cursor: pointer;
  }