.nav-title {
    float: left;
    padding-left: 2%;
}

.nav-li {
    list-style-type: none;
    float: right;
    padding-right: 2%;
}

.login-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
}