.App {
 text-align: center;
}

body {
    padding-bottom: 10px;
}

.logo-cropped {
    width: 10%;
    padding-left: 5%;
}

.bio {
    padding: 20px 15%;
    font-size: 20px;
}

.peppers-opts {
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid black;
    margin: 0 10px;
}

.peppers-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.strain-img {
    width: 50%;
}

.peppers-li {
    list-style-type: none;
    font-size: 18px;
}

.pepper-title {
    text-align: center;
    font-size: 30px;
    margin-top: 3%;
}

.peppers-ul {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}

